/* PAGE */

body
{
	margin: 10px 0;
	background:#5599BB;
	color:#333;
	font: 12px Lucida Grande, Arial, sans-serif;
	text-align:center
}

#container
{
	width: 755px;
	margin: 0 auto;
	padding: 0px 0;
	text-align: left;
	position: relative;
}

#content
{
	width: 100%;
	margin-top: 8px;
	float: left;
	padding-bottom: 15px;
	background: transparent;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 0;
}

#content h2
{
	margin: 5px 20px;
	font: bold 26px Helvetica Neue, Helvetica, Arial, sans-serif;
}

#content-share
{
	margin: 0 20px 10px 20px;
	color: #666;
	font-size: 13px;
}

#content-shared .text-share, .anchor-share, .video-share
{
	padding: 5px 20px;
}

#content-share textarea
{
	border-radius: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	resize: vertical;
	width:90%;
}

#content-share-submit
{
	position: absolute;
}

#content-share-clear
{
	position : absolute;
}

#content-shared
{
	min-height : 50px;
}

#content ul
{
	padding-left: 30px;
}

#content ol
{
	padding-left: 30px;
}

ul
{
	list-style:square;
	padding-left:20px;
}

a
{
	text-decoration:none;
	color: #5599BB;
}

a:hover
{
	text-decoration: underline;
}

.youtube-player
{
	width: 320px;
	height: 240px;
}

/* MENU */
#menu
{
	float: left;
	background: transparent;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px 0px;
	width:100%;
}

#menu ul
{
	display: block;
	margin: 5px 0 30px;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#options li
{
	font-size: 16px;
	width: 25%;
	text-align: center;
}

/* SHARES */
.share
{
	background-color : #224466;
	border-radius : 5px;
	margin : 5px 10px 5px 10px;
	position : relative;
	min-height : 50px;
	color : white;
	border-style: none;
}


.video-share
{
	border-style: none;
	padding: 0;
}

.delete-share
{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: default;
	min-width : 15px;
	min-height : 15px;
	font-family : Arial;
}

.delete-share:hover
{
	color: #5599BB;
}

.user-share
{
	font-weight : bold;
}

#topbar
{    
    z-index : 100;
    height:40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#topbar-bg
{   
    background: -moz-linear-gradient(center top , #3366ff, #3300ff) repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;  
}

#topbar-inner
{
    position : relative;
}

#container
{
    margin-top : 50px;
}

#select-options
{
    background: -moz-linear-gradient(center top , #3300ff, #3300cc) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center top, from(#3300ff), to(#3300cc), color-stop(0.7, #fff));
    display : inline;
    padding : 5px 5px 5px 5px;
    position : absolute;
    top : 30px;
    right : 0px;
    border-radius : 0px 0px 10px 10px;
}

#links
{
    position : absolute;
    width : auto;
    right : 10px;
    height : 100%;
}

#user-links
{
    margin-top : 5px;
    position : relative;
    font-weight : bold;
    height : 35px;
}

#user-links a, #user-links a:hover, #user-links #main, #user-links input[type="submit"]
{   
    color : White;   
    font-style : normal; 
    text-decoration : none;
    cursor : pointer;
    display : inline-block;
    margin-top : 5px;
}

#user-links input[type="submit"]
{
    background-color : transparent;
    border : 0px;  
	font: 12px Lucida Grande, Arial, sans-serif;
	font-weight : bold;
}

#user-links #main
{
    border-right : 2px black;
    margin : 0px;
    padding : 0px;
}

#logo
{
    font: 30px Arial, sand-serif;
    font-weight : Bold;   
    color : White;
    position : absolute;
    left : 20px;
}

#logo > a
{
    text-decoration : none;
    color : inherit;   
}

#select-options a
{
    display : block;
}