@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="user-login">
        @if (!User.Identity.IsAuthenticated)
        {    
            @Html.Partial("UserLogOnForm", Tuple.Create("LogOn", "Sign In"))
        }
    </div>				
</div>