@using Model
@model Model.User

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includes{
     <link href="@Url.Content("~/Content/Friends.css")" rel="stylesheet" type="text/css" />
}

<div id="content">    
    <h2>@Model.Name's Friends</h2>

    <div class="friends">
        @foreach (var user in Model.Friends)
        {
            <div id=@HtmlHelper.GenerateIdFromName(user.Name); class="friend">
                   @using (Html.BeginForm("RemoveFriend", "Account", new { userName = user.Username }))
                   {
                      <div class="friend-link">
                            @Html.ActionLink(user.Name, "ViewProfile", new {userName = user.Username})
                      </div>
                      <div class="DeleteButton">
                             <input type="submit" value="Eliminar"/>
                      </div>
                   }
            </div>
        }
    </div>
</div>