@using Model
@model Model.User

@{
    ViewBag.Title = "Friends";
}

<div id="content">    
    <h2>@Model.Name's Friends</h2>

    <div class="friends">
        @foreach (var user in Model.Friends)
        {
            <div id=@HtmlHelper.GenerateIdFromName(user.Name); class="friend">
               @Html.ActionLink(user.Name, "ViewProfile", new {userName = user.Username})
               <input type="button" value="Eliminar"/>
            </div>
        }
    </div>
</div>