@using Model
@model Model.User

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">    
    <h2>@Model.Name's Friends</h2>

    <div class="friends">
        @foreach (var user in Model.Friends)
        {
            <div id=@HtmlHelper.GenerateIdFromName(user.Name); class="friend">
                   @using (Html.BeginForm("RemoveFriend", "Account", new { userName = user.Username }))
                   {
                       @Html.ActionLink(user.Name, "ViewProfile", new {userName = user.Username})
                       <input type="submit" value="Eliminar"/>
                   }
            </div>
        }
    </div>
</div>