@using Model
@model Model.User

@{
    ViewBag.Title = "Friends";
}

<div id="content">    
    <h2>@Model.Username's Friends</h2>

    @{ Model.Friends.Add(new User("diogo1", "df", "diogo1"));}
    @{ Model.Friends.Add(new User("diogo2", "df", "diogo2"));}
    @{Model.Friends.Add(new User("diogo3", "df", "diogo3"));}
    @{Model.Friends.Add(new User("diogo4", "df", "diogo4"));}
    @{Model.Friends.Add(new User("diogo5", "df", "diogo5"));}

    <div class="friends">
        @foreach (var user in Model.Friends)
        {
            var name = user.Name;
            <div id=name>
               @Html.DisplayFor(model => model.Username)
            </div>
        }
    </div>
</div>