@model String

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <h2>Log On</h2>

    @Html.Partial("UserLogOnForm", Tuple.Create("LogOn", "Sign In"))
</div>