<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="GET" path="/" type="WebServer.Handlers.GenericHandler"/>
        <add verb="GET" path="/Wall" type="WebServer.Handlers.GenericHandler"/>
        <add verb="POST" path="/Shares/*" type="WebServer.Handlers.GenericHandler"/>
      </httpHandlers>
  </system.web>
  <appSettings>
    <add key="ControllersNamespace" value="WebServer.Controllers"/>
  </appSettings>
</configuration>
