<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
        <link href="../Content/main.css" rel="stylesheet" type="text/css" />
		<title>SocioBook</title>
		
        <script src="../Scripts/jquery-1.5.2.js" type="text/javascript"></script>
        <script src="../Scripts/view.js" type="text/javascript"></script>
        <script src="../Scripts/controller.js" type="text/javascript"></script>
        <script src="../Scripts/model.js" type="text/javascript"></script>
		<script src="../Scripts/wall.js" type="text/javascript"></script>
        	
		<script type="text/javascript">		    
		    Wall(new Controller(new View(), new Model()));	    
		</script>
	</head>
	<body>
	
		<div id="container" class="subpage">
			<div id="menu">
				<ul id="options">
					<li><a id="status_anchor" href="#">Status</a></li>
					<li><a id="photo_anchor" href="#">Photo</a></li>
					<li><a id="link_anchor" href="#">Link</a></li>
					<li><a id="video_anchor" href="#">Video</a></li>
				</ul>
			</div>           

			<div id="content">                
                <div id="shares">            
				    <h2 id="content-share-title">What's on your mind?</h2>
				    <div id="content-share">
					    <textarea id="content-share-textarea"></textarea>
					    <input id="content-share-submit" type="submit" value="Submit"/>
				    </div>
				    <div id="content-shared">					
				        {0}  		
				    </div>
                </div>				
			</div>
		</div>
	</body>
</html>
